*.*~
build
*.so
.cache
.vscode
.mypy_cache
.hypothesis
__pycache__
compile_commands.json
cufile.log

## Doxygen
cpp/doxygen/html
cpp/doxygen/xml

# doxygen generated html files
docs/source/librapidsmpf/html/
