# SPDX-FileCopyrightText: Copyright (c) 2024-2026, NVIDIA CORPORATION & AFFILIATES.
# SPDX-License-Identifier: Apache-2.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.4
    hooks:
      - id: clang-format
        types_or: [c, c++, cuda]
  - repo: https://github.com/sirosen/texthooks
    rev: 815307a61a62d48c84412f34f3e6789a2cd9179a  # frozen: 0.7.1
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: ./cpp/scripts/run-cmake-format.sh cmake-format
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
      - id: cmake-lint
        name: cmake-lint
        entry: ./cpp/scripts/run-cmake-format.sh cmake-lint
        language: python
        types: [cmake]
        # Note that pre-commit autoupdate does not update the versions
        # of dependencies, so we'll have to update this manually.
        additional_dependencies:
          - cmakelang==0.6.13
        verbose: true
        require_serial: true
      - id: doxygen-check
        name: doxygen-check
        entry: ./ci/checks/doxygen.sh
        files: ^cpp/include/
        types_or: [file]
        language: system
        pass_filenames: false
        verbose: true
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 9b1e9a33f1b33f6ecc2fdbb8d7cc894e951106e4  # frozen: v0.14.13
    hooks:
      - id: ruff-check
        args: ["--fix"]
        files: (python)|(ci)/.*$
      - id: ruff-format
        files: (python)|(ci)/.*$
  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: 23371f7c16014aa395d7d9569f01d07f0d5445d2  # frozen: v0.17.0
    hooks:
      - id: cython-lint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'a66e98df7b4aeeb3724184b332785976d062b92e'  # frozen: v1.19.1
    hooks:
      - id: mypy
        args: ["--config-file=pyproject.toml",
               "python/rapidsmpf/"]
        pass_filenames: false
  - repo: https://github.com/PyCQA/isort
    rev: 0a09c783808cfe77bb3269250f663ff733d23302  # frozen: 7.0.0
    hooks:
      - id: isort
        name: isort (cython)
        args: ["--resolve-all-configs"]
        files: python/.*
        types_or: [cython]
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
        exclude: |
          (?x)^(
            .*test.*|
            ^CHANGELOG.md$
          )
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: be37aaed37d910d88ff39aff4c0de2d4c1e1568c  # frozen: v1.4.3
    hooks:
      - id: verify-copyright
        args: [--fix, --spdx]
        files: |
          (?x)
            [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx|rs|java)$|
            CMakeLists[.]txt$|
            CMakeLists_standalone[.]txt$|
            meta[.]yaml$|
            pyproject[.]toml$|
            setup[.]cfg$|
            recipe[.]yaml$|
            dependencies[.]yaml$|
            Makefile$|
            make[.]bat$
      - id: verify-alpha-spec
      - id: verify-codeowners
        args: [--fix, --project-prefix=rapidsmpf]
      - id: verify-pyproject-license
        # ignore the top-level pyproject.toml, which doesn't
        # have or need a [project] table
        exclude: |
          (?x)
            ^pyproject[.]toml$
      - id: verify-hardcoded-version
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: 43302d278c4215036b7fe4b4af0a85f6fad39d2c  # frozen: v1.20.2
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck

default_language_version:
      python: python3
