name: build

on:
  push:
    branches:
      - "main"
      - "release/*"
    tags:
      - v[0-9][0-9].[0-9][0-9].[0-9][0-9]
  workflow_dispatch:
    inputs:
      branch:
        description: |
          branch: git branch the workflow run targets.
          Required even when 'sha' is provided because it is also used for organizing artifacts.
        required: true
        type: string
      date:
        description: "date: Date (YYYY-MM-DD) this run is for. Used to organize artifacts produced by nightly builds"
        required: true
        type: string
      sha:
        description: "sha: full git commit SHA to check out"
        required: true
        type: string
      build_type:
        description: "build_type: one of [branch, nightly, pull-request]"
        type: string
        default: nightly

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  conda-cpp-build:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-cpp-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu8
      script: ci/build_cpp.sh
      sha: ${{ inputs.sha }}
  conda-python-build:
    needs: [conda-cpp-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      script: ci/build_python.sh
      sha: ${{ inputs.sha }}
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
      # Build a conda package for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  upload-conda:
    needs: [conda-cpp-build, conda-python-build]
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-upload-packages.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      sha: ${{ inputs.sha }}
  docs-build:
    if: github.ref_type == 'branch'
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@main
    with:
      arch: "amd64"
      branch: ${{ inputs.branch }}
      build_type: ${{ inputs.build_type || 'branch' }}
      container_image: "rapidsai/ci-conda:26.04-latest"
      date: ${{ inputs.date }}
      node_type: "cpu8"
      script: "ci/build_docs.sh"
      sha: ${{ inputs.sha }}
  wheel-build-librapidsmpf:
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu8
      sha: ${{ inputs.sha }}
      script: ci/build_wheel_librapidsmpf.sh
      package-name: librapidsmpf
      package-type: cpp
      # build for every combination of arch and CUDA version, but only for the latest Python version
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheel-publish-librapidsmpf:
    needs: wheel-build-librapidsmpf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: librapidsmpf
      package-type: cpp
  wheel-build-rapidsmpf:
    needs: wheel-build-librapidsmpf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu8
      sha: ${{ inputs.sha }}
      script: ci/build_wheel_rapidsmpf.sh
      package-name: rapidsmpf
      package-type: python
      sccache-dist-token-secret-name: GIST_REPO_READ_ORG_GITHUB_TOKEN
      # Build a wheel for each CUDA x ARCH x minimum supported Python version
      matrix_filter: group_by({CUDA_VER, ARCH}) | map(min_by(.PY_VER | split(".") | map(tonumber)))
  wheel-publish-rapidsmpf:
    needs: wheel-build-rapidsmpf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-publish.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      sha: ${{ inputs.sha }}
      date: ${{ inputs.date }}
      package-name: rapidsmpf
      package-type: python
      publish-wheel-search-key: rapidsmpf_wheel_python_abi3
  wheel-build-rapidsmpf-singlecomm:
    needs: wheel-build-rapidsmpf
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@main
    with:
      build_type: ${{ inputs.build_type || 'branch' }}
      branch: ${{ inputs.branch }}
      date: ${{ inputs.date }}
      node_type: cpu8
      sha: ${{ inputs.sha }}
      script: ci/build_wheel_singlecomm.sh
      package-name: rapidsmpf-singlecomm
      package-type: python
      # build for every combination of arch and CUDA version, but only for the latest Python version
      matrix_filter: group_by([.ARCH, (.CUDA_VER|split(".")|map(tonumber)|.[0])]) | map(max_by(.PY_VER|split(".")|map(tonumber)))
